.icon {
   display: inline-block;
   width: 25px;
   height: 25px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   border-radius: 3px;
   background-color: transparent;
   transition: background-color .2s ease;
}
.icon:hover {
   background-color: var(--button-color);
   transition: background-color .2s ease;
}
/* ------------ */
.profile_icon {
   background-image: url("./profile.svg");
}
.notifications_icon {
   background-image: url("./Notifications.svg");
}
.exit_icon {
   background-image: url("./exit.svg");
}
.cross_icon {
   background-image: url("./cross.svg");
}
.cross_icon:hover {
   background-color: transparent !important;
}
.edit_icon {
   background-image: url("./edit.svg");
   cursor: default;
}
.edit_icon:hover {
   background-color: transparent !important;
}